@import '../../theme.scss';

.contact_input_container{
    width: 100%;
    input{
        height: 35px;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        color: white;
        background: transparent;
        margin-top: 10px;
        border: 1px solid $lightText;
    }
}