@import '../../theme.scss';

.button_wrapper{
  margin-top: 36px;
  margin-bottom: 15px;
}

.login_link{
    text-decoration: none;
    color: $darkText;
    font-weight: 400;
    margin-left: 5px;
    border-bottom: 1px solid $darkText;
}

.forget_password_link{
    text-decoration: none;
    color: $primary;
    font-weight: 400;
    margin-left: 5px;
}

.sign_up{
  width: 70%;
  margin-top: 50px;
  margin-bottom: 50px;
  // border: 2px solid gray ;
  padding: 10px;

  @media (max-width: 450px) {
    width: 100%;
  }

  .label_two{
    margin-left: 10px;
  }
}