@import "../../theme.scss";

.footer_container {
  background-color: $darkText;
  color           : $lightText;
  text-align      : center;
  padding         : 10px;

  p{
    font-size: 10px;
  }

  li{
    list-style: none;
    cursor: pointer;
  }

  .figure_one{
    display: flex;
    justify-content: end;
    .qr_code{
      @media screen and (max-width: 768px) {
        width: 80px;;
      }
    }
  }

  .figure_two{
    .store{
      display: flex;
      justify-content: start;
      flex-direction: column;
      @media screen and (max-width: 1000px) {
        height: 40px !important;
      }
      @media screen and (max-width: 768px) {
        height: 40px !important;
        width: 100px;
      }
    }
  }
}